.temperature-input {
    width: 240px;
}

.error-message {
    color: #f00;
}

.invalid {
    border-color: #f00;
}

.temperature-form > * {
    display: inline-block;
    vertical-align: top;
}

.results {
    padding-top: 5px;
}

.temperature-converter {
    padding-left: 5px;
}